

#menu_text{
	background-color: #248082;
	text-align: center;
	padding: 80px;
	margin: 0;
}
nav {
	background-color: #333;
	overflow: hidden;

}
nav a {
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;


}
nav a.menu_left{
	float: left;
}
nav a.menu_right{
	float: right;
}
nav a:hover {
	background-color: #DDD;
	color: black;
}
#left_side{
	flex: 30%;
	background-color: #f1f1f1;
	padding: 14px 20px

}
#right_side{
	flex: 70%;
	background-color: #f5f5f5;
}
#flex_container{
	display: flex;
	flex-wrap: nowrap;
}
footer{
	background-color: #333;
	color: white;
	padding: 14px 20px;
	text-align: center;


}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  width: 40% ;
}
th, td {
  background-color: #96D4D4;
}
#email{
	color: white;
}

.course_item{
	flex: 33%;
	text-align: center;
	}
.course_img{ 
	width: 90%;
}
#course_container{
	display: flex;
	flex-wrap: wrap;

}
.course_title{
	font-size:  150%;
	font-weight : bold;
	padding: 10px 10px 5px 10px;
}
.course_desc{
	padding: 0px 10px 5px 10px;
}
@media(max-width: 800px){
	#left_side{
		flex: 	100%;
	}
	#flex_container{
			flex-wrap: wrap;
		}
	.couse_item{
		flex: 50%;
	}
	
}
